.header-root {
    background-color: cadetblue;
    padding: 1.5rem;
    display: flex;
}

.header-title {
    font-size: 2rem;
    text-align: center;
}

.header-actions {
    margin-left: auto;
}

.header-button {
    font-size: 1.5rem;
}