html {
  height: 100%;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

/*-- For Apple Watch --*/
@media (min-device-width: 320px) and (min-device-height: 357px) {
}
