ul { list-style:none; margin:0; padding:0 }

#watch .minute-marks li {
  display:block;
  width:.2em;
  height:.6em;
  background:#929394;
  position:absolute;
  top:50%; left:50%;
  margin:-.4em 0 0 -.1em;
}

#watch .minute-marks li:nth-child(1) {transform:rotate(0deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(2) {transform:rotate(30deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(3) {transform:rotate(60deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(4) {transform:rotate(90deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(5) {transform:rotate(120deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(6) {transform:rotate(150deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(7) {transform:rotate(180deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(8) {transform:rotate(210deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(9) {transform:rotate(240deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(10) {transform:rotate(270deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(11) {transform:rotate(300deg) translateY(-12.7em)}
#watch .minute-marks li:nth-child(12) {transform:rotate(330deg) translateY(-12.7em)}








@keyframes dsm {
  to { transform:translateY(-120em) }
}